@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(rgba(203, 4, 4, 0.2), rgba(207, 68, 68, 0.2)),
    url("/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  
  background: #ef4444;
  /* background: #555; */
}
::-webkit-scrollbar-thumb {
  background: #b91c1c;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #991b1b;
  border-radius: 5px;
  cursor: pointer;
}
